<!-- LANDING -->
<section class="relative flex items-end ~py-16/24 ~px-4/8 h-[36rem] z-10
  before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gradient-to-t before:from-black before:to-black/0 before:-z-10">
  <div class="container mx-auto flex flex-col items-start gap-8">
    <!-- BADGE + HEADING -->
    <div class="flex flex-col items-start gap-3">
      <span class="py-2.5 px-4 bg-category text-white font-medium leading-none rounded-full" data-category="{{ category }}">Škola</span>
      <h1 class="text-6xl text-white font-extrabold leading-none">{{ landing.heading }}</h1>
    </div>

    <!-- BREADCRUMBS -->
    <ul class="flex flex-wrap justify-center items-center ~gap-2/4">
      {% for item in landing.breadcrumbs %}
        {% if item.url %}
          <li>
            <a href="{{ item.url }}" class="font-lora text-gray-200 hover:text-white">{{ item.title }}</a>
          </li>

          {# Show the chevron icon if this is not the last item #}
          {% if loop.index != landing.breadcrumbs.length %}
            <li class="text-gray-200">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
              </svg>
            </li>
          {% endif %}

        {% else %}
          {# Show the chevron icon if this is not the last item #}
          {% if loop.index != landing.breadcrumbs.length %}
            <li class="font-lora text-gray-200">{{ item.title }}</li>

            <li class="text-gray-200">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.9,8.8L6.5,5.3l0.8-0.8l4.2,4.2L7.3,13l-0.8-0.8L9.9,8.8z"/>
              </svg>
            </li>
          {% else %}
            <li class="font-lora text-white line-clamp-1">{{ item.title }}</li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- BACKGROUND IMAGE -->
  <picture>
    <!-- MOBILE IMAGE -->
    <source media="(max-width: 600px)" srcset="{% getUrl landing.image.url | avif %}" type="image/avif">
    <source media="(max-width: 600px)" srcset="{% getUrl landing.image.url | webp %}" type="image/webp">
    <source media="(max-width: 600px)" srcset="{% getUrl landing.image.url | jpeg %}" type="image/jpeg">
    <!-- TABLET IMAGE -->
    <source media="(max-width: 1024px)" srcset="{% getUrl landing.image.url | avif %}" type="image/avif">
    <source media="(max-width: 1024px)" srcset="{% getUrl landing.image.url | webp %}" type="image/webp">
    <source media="(max-width: 1024px)" srcset="{% getUrl landing.image.url | jpeg %}" type="image/jpeg">
    <!-- DESKTOP IMAGE -->
    <source media="(min-width: 1024px)" srcset="{% getUrl landing.image.url | resize({ width: 2880, height: 864 }) | avif %}" type="image/avif">
    <source media="(min-width: 1024px)" srcset="{% getUrl landing.image.url | resize({ width: 2880, height: 864 }) | webp %}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{% getUrl landing.image.url | resize({ width: 2880, height: 864 }) | jpeg %}" type="image/jpeg">
    <img
      class="object-cover absolute top-0 left-0 h-full w-full -z-20"
      src="{% getUrl landing.image.url | resize({ width: 2880, height: 864 }) | jpeg %}"
      alt="{{ landing.image.alt }}"
      width="1920"
      height="576"
      loading="eager"
      decoding="async"
      aria-hidden="true"
      draggable="false">
  </picture>
</section>