---js
const layout = "pages/posts-page.njk";

const title = 'Aktuality • Škola';
const description = 'Nejnovější aktuality ze Základní školy Libchavy. Přehled zpráv, oznámení a důležitých informací pro rodiče a žáky.';
const permalink = '/spolecne/aktuality/skola/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}';
  
const category = 'spolecne';

const pagination = { 
    data: 'collections.aktuality',
    size: 30,
    reverse: true,
    alias: 'posts',
    before: function (paginationData, fullData) {
      return paginationData.filter((d) => d.data.section === "Škola");
    }
  };
  
  const landing = {
    badge: 'Společné',
    heading: 'Aktuality',
    breadcrumbs: [
      { title: 'Domů', url: '/' },
      { title: 'Společné' },
      { title: 'Aktuality', url: '/spolecne/aktuality' },
      { title: 'Škola' }
    ],
    image: {
      url: '/assets/images/services/skola/landing.jpg',
      alt: 'Jazyková učebna'
    }
  };

  const contentOne = {
    topper: 'Aktuality',
    heading: 'Novinky pro žáky a rodiče'
  };
---