{% extends "layouts/base.njk" %}

{% block head %}
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Netlify Identity configuration -->
    <script defer src="/assets/js/identity.js"></script>

    <!-- fslightbox and multigallery JavaScript -->
    <script defer src="/assets/js/fslightbox.js"></script>
    <script defer src="/assets/js/gallery.js"></script>

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    {% include "components/home-schema.njk" %}
{% endblock %}

{% block body %}
    <!-- HERO + SERVICES NAVIGATION -->
    <div class="relative">
        <!-- HERO -->
        <section class="relative ~py-16/24 ~px-4/8 flex min-h-screen z-10 before:absolute before:top-0 before:left-0 before:h-full before:w-full before:bg-gradient-to-t before:from-black before:via-50% before:via-black/50 before:to-black/0 before:-z-10">
            <div class="container m-auto flex flex-col items-center gap-8">
                <h1 class="max-w-7xl text-center ~text-5xl/8xl text-white font-extrabold !leading-[1.1]">{{ hero.heading | safe }}</h1>

                <!-- CTA BUTTON -->
                <div class="flex gap-4">
                    <!-- NEWS CTA -->
                    <a href="{{ hero.ctaNews.url }}" class="btn btn-lg bg-white text-gray-950 hover:text-white">
                        <span>{{ hero.ctaNews.text }}</span>

                        <div class="bg-gray-950">
                            <img
                                src="/assets/svgs/arrow_outward_light.svg"
                                alt="Ikona šipky směřující nahoru"
                                width="20"
                                height="20"
                                loading="lazy"
                                decoding="async"
                                aria-hidden="true"
                                draggable="false">
                        </div>
                    </a>

                    <!-- EVENTS CTA -->
                    <a href="{{ hero.ctaEvents.url }}" class="btn btn-lg">
                        <span>{{ hero.ctaEvents.text }}</span>

                        <div>
                            <img
                                src="/assets/svgs/arrow_outward_dark.svg"
                                alt="Ikona šipky směřující nahoru"
                                width="20"
                                height="20"
                                loading="lazy"
                                decoding="async"
                                aria-hidden="true"
                                draggable="false">
                        </div>
                    </a>
                </div>

                <picture>
                    <!-- MOBILE IMAGE -->
                    <source media="(max-width: 600px)" srcset="{% getUrl hero.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl hero.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl hero.image.url | jpeg %}" type="image/jpeg">
                    <!-- TABLET IMAGE -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl hero.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl hero.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl hero.image.url | jpeg %}" type="image/jpeg">
                    <!-- DESKTOP IMAGE -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl hero.image.url | resize({ width: 2880, height: 1620 }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl hero.image.url | resize({ width: 2880, height: 1620 }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl hero.image.url | resize({ width: 2880, height: 1620 }) | jpeg %}" type="image/jpeg">
                    <img
                        class="object-cover absolute top-0 left-0 h-full w-full -z-20"
                        src="{% getUrl hero.image.url | resize({ width: 2880, height: 1620 }) | jpeg %}"
                        alt="{{ hero.image.alt }}"
                        width="1920"
                        height="1080"
                        loading="lazy"
                        decoding="async"
                        aria-hidden="true"
                        draggable="false">
                </picture>
            </div>
        </section>

        <!-- SERVICES NAVIGATION -->
        <nav id="services" class="~px-4/8 max-lg:~py-12/24 max-lg:bg-white max-lg:dark:bg-gray-800 lg:absolute lg:bottom-0 lg:left-1/2 lg:translate-y-1/2 lg:-translate-x-1/2 lg:w-full lg:z-10">
            <div class="container m-auto flex flex-col gap-6">
                <!-- TOPPER + HEADING -->
                <div class="flex lg:hidden flex-col gap-3">
                    <span class="topper">{{ services.topper }}</span>
                    <h2 class="~text-3xl/5xl text-gray-950 dark:text-white font-extrabold">{{ services.heading }}</h2>
                </div>

                <!-- ITEMS -->
                <ul class="flex flex-col -space-y-px lg:grid lg:grid-cols-6 lg:-space-x-px shadow-lg rounded-3xl">
                    {% for item in services.items %}
                        <li class="group">
                            <a href="{{ item.url }}" data-category="{{ item.category }}" class="group flex justify-center items-center h-full py-8 px-6 bg-category max-lg:border-x-4 max-lg:group-first:border-t-4 max-lg:group-last:border-b-4 lg:border-y-4 max-lg:group-first:rounded-t-3xl max-lg:group-last:rounded-b-3xl lg:group-first:border-l-4 lg:group-last:border-r-4 lg:group-first:rounded-l-3xl lg:group-last:rounded-r-3xl transition-colors duration-300">
                                <!-- ICON + TEXT -->
                                <div class="flex flex-col justify-center items-center ~gap-4/6 transition-transform duration-300 group-hover:scale-95">
                                    <!-- ICON -->
                                    <img
                                        class="~h-12/14 aspect-square"
                                        src="{{ item.icon.url }}"
                                        alt="{{ item.icon.alt }}"
                                        width="56"
                                        height="56"
                                        loading="lazy"
                                        decoding="async"
                                        aria-hidden="true"
                                        draggable="false">

                                    <h2 class="text-center ~text-xl/3xl text-white font-semibold">{{ item.heading }}</h2>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>

    <!-- NEWS -->
    <section class="~pt-16/24 lg:pt-48 ~pb-16/24 ~px-4/8 bg-gray-100 dark:bg-gray-900">
        <div class="container m-auto flex flex-col gap-12">
            <!-- HEADING + CTA -->
            <div class="flex max-md:flex-col md:justify-between items-start md:items-end gap-4">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col gap-3">
                    <span class="topper">{{ news.topper }}</span>
                    <h2 class="~text-3xl/5xl text-gray-950 dark:text-white font-extrabold">{{ news.heading }}</h2>
                </div>

                <!-- CTA -->
                <a href="{{ news.cta.url }}" class="btn">
                    <span>{{ news.cta.text }}</span>

                    <div>
                        <img
                            src="/assets/svgs/arrow_outward_dark.svg"
                            alt="Ikona šipky směřující nahoru"
                            width="20"
                            height="20"
                            loading="lazy"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </div>
                </a>
            </div>

            {% set posts = collections.aktuality | reverse | limit(3) %}
            {% include "components/posts.njk" %}
        </div>
    </section>

    <!-- EVENTS -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-gray-800">
        <div class="container m-auto flex flex-col gap-12">
            <!-- HEADING + CTA -->
            <div class="flex justify-between items-end">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col gap-3">
                    <span class="topper">{{ events.topper }}</span>
                    <h2 class="~text-3xl/5xl text-gray-950 dark:text-white font-extrabold">{{ events.heading }}</h2>
                </div>

                <!-- CTA -->
                <a href="{{ events.cta.url }}" class="btn">
                    <span>{{ events.cta.text }}</span>

                    <div>
                        <img
                            src="/assets/svgs/arrow_outward_dark.svg"
                            alt="Ikona šipky směřující nahoru"
                            width="20"
                            height="20"
                            loading="lazy"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                    </div>
                </a>
            </div>

            {% set posts = collections.akce | reverse | limit(3) %}
            {% include "components/posts.njk" %}
        </div>
    </section>

    <!-- ABOUT US -->
    <section class="~py-16/24 ~px-4/8 bg-gray-100 dark:bg-gray-900">
        <div class="container m-auto flex flex-col ~gap-12/16 xl:gap-12">
            <!-- IMAGE + TEXT -->
            <div class="flex max-xl:flex-col items-center gap-8 xl:~gap-12/24">
                <picture>
                    <!-- MOBILE IMAGE -->
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 600px)" srcset="{% getUrl about.image.url | jpeg %}" type="image/jpeg">
                    <!-- TABLET IMAGE -->
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | avif %}" type="image/avif">
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | webp %}" type="image/webp">
                    <source media="(max-width: 1024px)" srcset="{% getUrl about.image.url | jpeg %}" type="image/jpeg">
                    <!-- DESKTOP IMAGE -->
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1296, height: 576, position: 'top' }) | avif %}" type="image/avif">
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1296, height: 576, position: 'top' }) | webp %}" type="image/webp">
                    <source media="(min-width: 1024px)" srcset="{% getUrl about.image.url | resize({ width: 1296, height: 576, position: 'top' }) | jpeg %}" type="image/jpeg">
                    <img
                        class="object-cover rounded-4xl"
                        src="{% getUrl about.image.url | resize({ width: 1296, height: 576, position: 'top' }) | jpeg %}"
                        alt="{{ about.image.alt }}"
                        width="864"
                        height="384"
                        loading="lazy"
                        decoding="async"
                        aria-hidden="true"
                        draggable="false">
                </picture>

                <!-- TEXT + CTA -->
                <div class="flex flex-col items-start gap-8">
                    <!-- HEADING + TEXT -->
                    <div class="max-w-xl flex flex-col gap-4">
                        <!-- TOPPER + HEADING -->
                        <div class="flex flex-col ~gap-2/3">
                            <span class="topper">{{ about.topper }}</span>
                            <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">{{ about.heading }}</h2>
                        </div>

                        <p class="font-lora text-gray-800 dark:text-gray-200">{{ about.text | safe }}</p>
                    </div>

                    <!-- CTA -->
                    <a href="{{ about.cta.url }}" class="btn btn-sm">
                        <span>{{ about.cta.text }}</span>

                        <div>
                            <img
                            src="/assets/svgs/arrow_outward_dark.svg"
                            alt="Ikona šipky směřující nahoru"
                            width="20"
                            height="20"
                            loading="lazy"
                            decoding="async"
                            aria-hidden="true"
                            draggable="false">
                        </div>
                    </a>
                </div>
            </div>

            <!-- ITEMS -->
            <ul class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-y-8 ~gap-x-4/6">
                {% for item in about.items %}
                    <li class="flex flex-col items-center -space-y-12">
                        <!-- ICON -->
                        <div class="relative p-3 bg-primary rounded-3xl z-10">
                            <img
                                src="{{ item.icon.url }}"
                                alt="{{ item.icon.alt }}"
                                width="48"
                                height="48"
                                loading="lazy"
                                decoding="async"
                                aria-hidden="true"
                                draggable="false">
                        </div>

                        <!-- TITLE + TEXT -->
                        <div class="flex flex-col justify-center items-center gap-2 h-full p-6 pt-16 bg-white dark:bg-gray-950 border-2 border-gray-200 dark:border-gray-800 shadow-md rounded-4xl">
                            <span class="text-center text-lg text-gray-950 dark:text-white font-semibold">{{ item.title }}</span>
                            <p class="font-sora text-center text-gray-800 dark:text-gray-200">{{ item.text }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- GALLERY -->
    <section class="~py-16/24 ~px-4/8 bg-white dark:bg-gray-800">
        <div class="container m-auto flex flex-col gap-6 lg:gap-12">
            <!-- HEADING + GALLERY BUTTONS -->
            <div class="flex max-lg:flex-col lg:justify-between lg:items-end gap-8">
                <!-- TOPPER + HEADING -->
                <div class="flex flex-col gap-3">
                    <span class="topper">{{ gallery.topper }}</span>
                    <h2 class="~text-3xl/5xl text-gray-950 dark:text-white font-extrabold">{{ gallery.heading | safe }}</h2>
                </div>

                <!-- GALLERY BUTTONS -->
                <div class="flex gap-6">
                    {% for album in gallery.albums %}
                        <button type="button" data-gallery="{{ album.key }}" class="text-gray-800 dark:text-gray-200 {%- if album.key === 'all' %} font-semibold {%- endif %}">
                            {{ album.title }}
                        </button>
                    {% endfor %}
                </div>
            </div>

            <!-- IMAGE ALBUMS -->
            <div class="relative" data-selected-album="all">
                {% for album in gallery.albums %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4 transition-opacity duration-500 opacity-0 [&.active]:opacity-100 {%- if album.key === 'all' %} active {%- else %} absolute top-0 left-0 h-full w-full {%- endif %}" data-gallery="{{ album.key }}">
                        {% for image in album.images %}
                            <a href="{% getUrl image.url | resize({ height: 1944 }) | jpeg %}" data-fslightbox="{{ album.key }}" data-gallery="{{ album.key }}">
                                <picture>
                                    <source srcset="{% getUrl image.url | resize({ width: 558, height: 419 }) | avif %}" type="image/avif">
                                    <source srcset="{% getUrl image.url | resize({ width: 558, height: 419 }) | webp %}" type="image/webp">
                                    <source srcset="{% getUrl image.url | resize({ width: 558, height: 419 }) | jpeg %}" type="image/jpeg">
                                    <img
                                        class="object-cover w-full rounded-4xl"
                                        src="{% getUrl image.url | resize({ width: 558, height: 419 }) | jpeg %}"
                                        alt="{{ image.alt }}"
                                        width="372"
                                        height="279"
                                        loading="lazy"
                                        decoding="async"
                                        aria-hidden="true"
                                        draggable="false">
                                </picture>
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "sections/cta.njk" %}
{% endblock body %}