---js
const layout = "pages/posts-page.njk";

const title = 'Proběhlé akce';
const description = 'Podívejte se na přehled proběhlých akcí školy a mateřských škol. Fotogalerie, zážitky a shrnutí nejdůležitějších událostí.';
const permalink = '/spolecne/probehle-akce/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}';
  
const category = 'spolecne';

const pagination = { 
    data: 'collections.akce',
    size: 30,
    reverse: true,
    alias: 'posts'
  };
  
const landing = {
  badge: 'Společné',
  heading: 'Proběhlé akce',
  breadcrumbs: [
    { title: 'Domů', url: '/' },
    { title: 'Společné' },
    { title: 'Proběhlé akce' }
  ],
  image: {
    url: '/assets/images/services/skola/landing.jpg',
    alt: 'Jazyková učebna'
  }
};

const contentOne = {
  topper: 'Proběhlé akce',
  heading: 'Proběhlé akce a aktivity'
};
---