{% extends "layouts/base.njk" %}

{% block head %}
    <script defer src="/assets/js/fslightbox.js"></script>
{% endblock head %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SIDEBAR + CONTENT -->
    <div class="~py-16/24 ~px-4/8 flex items-start gap-16 bg-white dark:bg-gray-900">
        <div class="container m-auto flex max-xl:flex-col items-start gap-16">
            {% include "sections/sidebar.njk" %}

            <!-- INNER CONTENT -->
            <div class="flex-1 ~space-y-16/24 w-full">
                {% include "sections/inner-content.njk" %}

                <!-- KEY EMPLOYEES -->
                <section>
                    <div class="flex flex-col ~gap-6/8">
                        <!-- TOPPER + HEADING -->
                        <div class="flex flex-col ~gap-0.5/gap-1.5">
                            <span class="topper text-category" data-category="{{ category }}">{{ employees.topper }}</span>
                            <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">{{ employees.heading }}</h2>
                        </div>

                        <!-- EMPLOYEES -->
                        {% set employees = collections.zamestnanci | whereAll({"section": "Škola", "isKeyEmployee": true}) | sortBy("data.title", "asc") %}
                        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 ~gap-4/6">
                            {% for employee in employees %}
                                {% include "components/employee-card.njk" %}
                            {% endfor %}
                        </ul>
                    </div>
                </section>

                <!-- SUBJECTS -->
                <section>
                    <div class="flex flex-col ~gap-6/8">
                        <!-- TOPPER + HEADING -->
                        <div class="flex flex-col ~gap-0.5/gap-1.5">
                            <span class="topper text-category" data-category="{{ category }}">{{ subjects.topper }}</span>
                            <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">{{ subjects.heading }}</h2>
                        </div>

                        <!-- GROUPS -->
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-12 gap-x-8">
                            {% for group in subjects.groups %}
                                <div class="flex flex-col gap-4">
                                    <h3 class="~text-xl/2xl text-gray-950 dark:text-white font-semibold">{{ group.title }}</h3>

                                    <!-- ITEMS -->
                                    <ul class="grid grid-cols-2 ~gap-y-4/6 ~gap-x-2/4">
                                        {% for item in group.items %}
                                            <li class="flex flex-col items-center -space-y-8">
                                                <!-- ICON -->
                                                <div class="relative p-2 bg-category rounded-2xl z-10" data-category="{{ item.category }}">
                                                    <img
                                                        src="{{ item.icon.url }}"
                                                        alt="{{ item.icon.alt }}"
                                                        width="32"
                                                        height="32"
                                                        loading="lazy"
                                                        decoding="async"
                                                        aria-hidden="true"
                                                        draggable="false">
                                                </div>

                                                <!-- TITLE + TEXT -->
                                                <div class="flex flex-col justify-center items-center gap-1 h-full w-full p-6 pt-12 bg-white dark:bg-gray-950 border-2 border-gray-200 dark:border-gray-800 shadow-md rounded-4xl">
                                                    <span class="text-center text-lg text-gray-950 dark:text-white font-semibold">{{ item.title }}</span>
                                                    <p class="text-center text-gray-800 dark:text-gray-200">{{ item.text }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                {% include "sections/gallery.njk" %}
            </div>
        </div>
    </div>
{% endblock body %}