{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SIDEBAR + CONTENT -->
    <div class="~py-16/24 ~px-4/8 flex items-start gap-16 bg-white dark:bg-gray-900">
        <div class="container m-auto flex max-xl:flex-col items-start gap-16">
            {% include "sections/sidebar.njk" %}

            <!-- INNER CONTENT -->
            <div class="flex-1 ~space-y-16/24">
                {# Group all documents by their 'section' #}
                {% set documentsBySection = collections.dokumenty | sortBySection | groupby("data.section") %}

                {# Loop through each section group #}
                {% for section in documentsBySection %}
                    <section id="{{ section.key | slug | lower }}">
                        <div class="flex flex-col gap-8">
                            <!-- TOPPER + HEADING -->
                            <div class="flex flex-col gap-3">
                                <span class="topper text-category" data-category="{{ section.key | slug | lower }}">{{ landing.heading }}</span>
                                <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">{{ section.key }}</h2>
                            </div>

                            {% set files = section.items | sortBy("data.title", "asc") %}
                            {% set category = section.key | slug | lower %}
                            {% include "components/files.njk" %}
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include "sections/cta.njk" %}
    {% endblock body %}