{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SIDEBAR + CONTENT -->
    <div class="~pt-16/24 ~pb-24/56 ~px-4/8 flex items-start gap-16 bg-white dark:bg-gray-900">
        <div class="container m-auto flex max-xl:flex-col items-start gap-16">
            {% include "sections/sidebar.njk" %}

            <!-- INNER CONTENT -->
            <div class="flex-1 ~space-y-16/24 w-full">
                {% include "sections/inner-content.njk" %}

                {% set sections = collections.kontakty | sortBySection %}
                {% include "sections/inner-content.njk" %}
            </div>
        </div>
    </div>

{% endblock body %}