{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SIDEBAR + CONTENT -->
    <div class="~py-16/24 ~px-4/8 flex items-start gap-16 bg-white">
        <div class="container m-auto flex max-xl:flex-col items-start gap-16">
            {% include "sections/sidebar.njk" %}

            <!-- INNER CONTENT -->
            <div class="flex-1 ~space-y-16/24">
                <!-- SECTION -->
                <section>
                    <div class="flex flex-col gap-8">
                        <!-- TOPPER + HEADING -->
                        <div class="flex flex-col gap-3">
                            <span class="topper text-category" data-category="{{ category }}">{{ landing.heading }}</span>
                            <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">Škola</h2>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    {% include "sections/cta.njk" %}
{% endblock body %}