{% extends "layouts/base.njk" %}

{% block body %}
    {% include "sections/landing.njk" %}

    <!-- SIDEBAR + CONTENT -->
    <div class="~py-16/24 ~px-4/8 flex items-start gap-16 bg-white dark:bg-gray-900">
        <div class="container m-auto flex max-xl:flex-col items-start gap-16">
            {% include "sections/sidebar.njk" %}

            <!-- INNER CONTENT -->
            <div class="flex-1 ~space-y-16/24 w-full">
                {# Group all employees by their 'section' #}
                {% set employeesBySection = collections.zamestnanci | sortBySection | groupby("data.section") %}

                {# Loop through each section group #}
                {% for section in employeesBySection %}
                    {# Within each section, group employees by their 'group' #}
                    {% set employeesByGroup = section.items | groupby("data.group") %}

                    <section id="{{ section.key | slug }}">
                        <div class="flex flex-col gap-8">
                            <!-- TOPPER + HEADING -->
                            <div class="flex flex-col ~gap-1/3">
                                <span class="topper text-category" data-category="{{ section.key | slug }}">{{ landing.heading }}</span>
                                <h2 class="~text-2xl/4xl text-gray-950 dark:text-white font-extrabold">{{ section.key }}</h2>
                            </div>

                            {# Loop through each subgroup (Pedagogové, Nepedagogové) #}
                            {% for group in employeesByGroup %}
                                <div class="flex flex-col gap-4">
                                    {% if group.key !== "_ungrouped" %}
                                        <h3 class="text-2xl text-gray-950 dark:text-white font-semibold">{{ group.key }}</h3>
                                    {% endif %}

                                    <ul class="grid grid-cols-3 gap-6">
                                        {# Loop through and display each employee in the group #}
                                        {% for employee in group.items %}
                                            {% include "components/employee.njk" %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}