backend:
  name: git-gateway
  branch: main

local_backend: true

# Change url to a link to the image you want to use, no file paths, must be a URL
logo:
  src: "https://coalmarketing.cz/wp-content/uploads/2024/08/coalmarketing_logo_long_color-black-1024x239.png"
  show_in_header: false

locale: "cs"

# Where should uploaded files be saved
media_folder: "src/assets/cms"

# Where should media be served, relative to the base of the built site
public_folder: "/assets/cms"

collections:
  # ======================== #
  # ===== STRÁNKY WEBU ===== #
  # ======================== #
  - name: "pages"
    label: "Stránky webu"
    label_singular: "Stránka webu"
    folder: "src/content/cms/pages"
    create: true
    delete: false
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: true

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

      - label: "Jídelna"
        field: "section"
        pattern: "Jídelna"

      - label: "Společné"
        field: "section"
        pattern: "Společné"

    view_groups:
      - label: "Sekce webu"
        field: "section"

    fields:
      - { label: "Název podstránky", name: "title", widget: "string" }
      - { label: "Identifikátor", name: "key", widget: "string" }

      - label: "Sekce webu"
        name: "section"
        widget: "select"
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }
          - { label: "Jídelna", value: "Jídelna" }
          - { label: "Společné", value: "Společné" }

      - { label: "Obsah", name: "body", widget: "markdown" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["page"] }

  # ===================== #
  # ===== AKTUALITY ===== #
  # ===================== #
  - name: "aktuality"
    label: "Aktuality"
    label_singular: "Aktualita"
    folder: "src/content/cms/aktuality"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    summary: "{{ title }} - {{ date | date('DD. MM. YYYY') }}"

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

      - label: "Jídelna"
        field: "section"
        pattern: "Jídelna"

    view_groups:
      - label: "Sekce webu"
        field: "section"

    fields:
      - { label: "Název", name: "title", widget: "string" }
      - label: "Sekce webu"
        name: "section"
        widget: "select"
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }
          - { label: "Jídelna", value: "Jídelna" }

      - { label: "Autor", name: "author", widget: "string" }
      - { label: "Datum", name: "date", widget: "datetime" }

      - label: "Obrázky"
        label_singular: "Obrázek"
        name: "images"
        widget: "list"
        max: 10
        minimize_collapsed: true
        fields:
          - {
              label: "Obrázek",
              name: "url",
              widget: "image",
              choose_url: false,
            }
          - {
              label: "Popis obrázku",
              name: "alt",
              widget: "string",
              hint: "Popište, co je na obrázku. Slouží k validnímu SEO příspěvku.",
              required: false,
            }

      - {
          label: "Odkaz pro zobrazení alba",
          name: "albumUrl",
          widget: "string",
          required: false,
          hint: "URL odkaz sloužící k zobrazení celého fotoalba na Google Disku",
        }
      - { label: "Obsah", name: "body", widget: "markdown" }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["aktuality"],
        }

  # ========================= #
  # ===== PROBĚHLÉ AKCE ===== #
  # ========================= #
  - name: "akce"
    label: "Proběhlé akce"
    label_singular: "Proběhlá akce"
    folder: "src/content/cms/akce"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    summary: "{{ title }} - {{ date | date('DD. MM. YYYY') }}"

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

    view_groups:
      - label: "Sekce webu"
        field: "section"

    fields:
      - { label: "Název", name: "title", widget: "string" }
      - label: "Sekce webu"
        name: "section"
        widget: "select"
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }

      - { label: "Autor", name: "author", widget: "string" }
      - { label: "Datum", name: "date", widget: "datetime" }

      - label: "Obrázky"
        label_singular: "Obrázek"
        name: "images"
        widget: "list"
        max: 10
        minimize_collapsed: true
        fields:
          - {
              label: "Obrázek",
              name: "url",
              widget: "image",
              choose_url: false,
            }
          - {
              label: "Popis obrázku",
              name: "alt",
              widget: "string",
              hint: "Popište, co je na obrázku. Slouží k validnímu SEO příspěvku.",
              required: false,
            }

      - {
          label: "Odkaz pro zobrazení alba",
          name: "albumUrl",
          widget: "string",
          required: false,
          hint: "URL odkaz sloužící k zobrazení celého fotoalba na Google Disku",
        }
      - { label: "Obsah", name: "body", widget: "markdown" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["akce"] }

  # ================================ #
  # ===== DOKUMENTY KE STAŽENÍ ===== #
  # ================================ #
  - name: "dokumenty"
    label: "Dokumenty ke stažení"
    label_singular:: "Dokument ke stažení"
    folder: "src/content/cms/dokumenty"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

      - label: "Jídelna"
        field: "section"
        pattern: "Jídelna"

      - label: "Obecné"
        field: "section"
        pattern: "Obecné"

    view_groups:
      - label: "Sekce webu"
        field: "section"

      - label: "Skupina"
        field: "group"

    fields:
      - {
          label: "Název dokumentu",
          name: "title",
          widget: "string",
          hint: "Zadejte srozumitelný název, který se zobrazí na webu.",
        }
      - label: "Sekce webu"
        name: "section"
        widget: "select"
        multiple: true
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }
          - { label: "Jídelna", value: "Jídelna" }
          - { label: "Obecné", value: "Obecné" }

      - {
          label: "Skupina",
          name: "group",
          widget: "string",
          required: false,
          hint: "Volitelná skupina, do které soubor patří. Pokud skupinu vyplníte, soubor se zobrazí v graficky oddělené skupině na webu.",
        }
      - { label: "Soubor", name: "url", widget: "file" }
      - {
          label: "Datum zveřejnění",
          name: "date",
          widget: "datetime",
          required: false,
        }
      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["dokumenty"],
        }

  # ==================== #
  # ===== PROJEKTY ===== #
  # ==================== #
  - name: "projekty"
    label: "Projekty"
    label_singular: "Projekt"
    folder: "src/content/cms/projekty"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    summary: "{{ title }} | {{ implementationDate }}"
    editor:
      preview: false

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

    view_groups:
      - label: "Sekce webu"
        field: "section"

    fields:
      - { label: "Název", name: "title", widget: "string" }
      - label: "Sekce webu"
        name: "section"
        widget: "select"
        multiple: true
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }

      - {
          label: "Registrační číslo",
          name: "registrationNumber",
          widget: "string",
          required: false,
        }
      - {
          label: "Datum realizace",
          name: "implementationDate",
          widget: "string",
          required: false,
        }
      - { label: "Rozpočet", name: "budget", widget: "string", required: false }

      - label: "Obrázky"
        label_singular: "Obrázek"
        name: "images"
        widget: "list"
        max: 10
        minimize_collapsed: true
        fields:
          - {
              label: "Obrázek",
              name: "url",
              widget: "image",
              choose_url: false,
            }
          - {
              label: "Popis obrázku",
              name: "alt",
              widget: "string",
              hint: "Popište, co je na obrázku. Slouží k validnímu SEO příspěvku.",
              required: false,
            }

      - { label: "Obsah", name: "body", widget: "markdown", required: false }

      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["projekty"],
        }

  # ======================= #
  # ===== ZAMĚSTNANCI ===== #
  # ======================= #
  - name: "zamestnanci"
    label: "Zaměstnanci"
    label_singular: "Zaměstnanec"
    folder: "src/content/cms/zamestnanci"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    view_filters:
      - label: "Škola"
        field: "section"
        pattern: "Škola"

      - label: "MŠ Korálek"
        field: "section"
        pattern: "MŠ Korálek"

      - label: "MŠ Kamarád"
        field: "section"
        pattern: "MŠ Kamarád"

      - label: "Družina"
        field: "section"
        pattern: "Družina"

      - label: "Jídelna"
        field: "section"
        pattern: "Jídelna"

    view_groups:
      - label: "Sekce webu"
        field: "section"

      - label: "Skupina"
        field: "group"

    fields:
      - { label: "Jméno", name: "title", widget: "string" }

      - label: "Sekce webu"
        name: "section"
        widget: "select"
        required: true
        options:
          - { label: "Škola", value: "Škola" }
          - { label: "MŠ Korálek", value: "MŠ Korálek" }
          - { label: "MŠ Kamarád", value: "MŠ Kamarád" }
          - { label: "Družina", value: "Družina" }
          - { label: "Jídelna", value: "Jídelna" }

      - label: "Skupina"
        name: "group"
        widget: "select"
        required: false
        options:
          - { label: "Pedagogové", value: "Pedagogové" }
          - { label: "Nepedagogové", value: "Nepedagogové" }

      - { label: "Funkce", name: "function", widget: "string" }
      - {
          label: "Speciální role",
          name: "role",
          widget: "string",
          hint: "Například: ICT koordinátor, výchovný poradce atd.",
          required: false,
        }
      - { label: "Email", name: "email", widget: "string", required: false }
      - { label: "Telefon", name: "phone", widget: "string", required: false }
      - {
          label: "Fotka",
          name: "image",
          widget: "image",
          choose_url: false,
          required: false,
        }

      - {
          label: "Štítky",
          name: "tags",
          widget: "hidden",
          default: ["zamestnanci"],
        }

  # ==================== #
  # ===== KONTAKTY ===== #
  # ==================== #
  - name: "kontakty"
    label: "Kontakty"
    label_singular: "Kontakt"
    folder: "src/content/cms/kontakty"
    create: true
    delete: false
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Zadejte srozumitelný název, který se zobrazí na webu.",
        }

      - label: "Zaměstnanci"
        label_singular: "Zaměstnanec"
        name: "employees"
        widget: "list"
        minimize_collapsed: false
        hint: "Vyberte zaměstnance, kteří souvisejí s touto položkou ŠPP."
        fields:
          - label: "Zaměstnanec"
            name: "employee"
            widget: "relation"
            collection: "zamestnanci"
            search_fields: ["title"]
            value_field: "{{slug}}"
            display_fields: ["{{ title }}"]

          - label: "Popis"
            name: "title"
            widget: "string"

      - { label: "Obsah", name: "body", widget: "markdown" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["spp"] }

  # ======================== #
  # ===== ÚŘEDNÍ DESKA ===== #
  # ======================== #
  - name: "deska"
    label: "Úřední deska"
    label_singular: "Úřední deska"
    folder: "src/content/cms/deska"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    view_groups:
      - label: "Skupina"
        field: "group"

    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Zadejte srozumitelný název, který se zobrazí na webu.",
        }
      - {
          label: "Skupina",
          name: "group",
          widget: "string",
          required: false,
          hint: "Volitelná skupina, do které soubor patří. Pokud skupinu vyplníte, soubor se zobrazí v graficky oddělené skupině na webu.",
        }
      - { label: "Soubor", name: "url", widget: "file" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["deska"] }

  # ========================================= #
  # ===== ŠKOLSKÉ PORADENSKÉ PRACOVIŠTĚ ===== #
  # ========================================= #
  - name: "spp"
    label: "Školské poradenské pracoviště"
    label_singular: "Školské poradenské pracoviště"
    folder: "src/content/cms/spp"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Zadejte srozumitelný název, který se zobrazí na webu.",
        }

      - label: "Zaměstnanci"
        label_singular: "Zaměstnanec"
        name: "employees"
        widget: "list"
        minimize_collapsed: false
        hint: "Vyberte zaměstnance, kteří souvisejí s touto položkou ŠPP."
        fields:
          - label: "Zaměstnanec"
            name: "employee"
            widget: "relation"
            collection: "zamestnanci"
            search_fields: ["title"]
            value_field: "{{slug}}"
            display_fields: ["{{ title }}"]

      - { label: "Obsah", name: "body", widget: "markdown" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["spp"] }

  # =============================== #
  # ===== ZÁPIS DO 1. ROČNÍKU ===== #
  # =============================== #
  - name: "zapis"
    label: "Zápis do 1. ročníku"
    label_singular: "Zápis do 1. ročníku"
    folder: "src/content/cms/zapis"
    create: true
    slug: "{{year}}-{{month}}-{{day}}_{{slug}}"
    editor:
      preview: false

    view_groups:
      - label: "Skupina"
        field: "group"

    fields:
      - {
          label: "Název",
          name: "title",
          widget: "string",
          hint: "Zadejte srozumitelný název, který se zobrazí na webu.",
        }
      - {
          label: "Skupina",
          name: "group",
          widget: "string",
          required: false,
          hint: "Volitelná skupina, do které soubor patří. Pokud skupinu vyplníte, soubor se zobrazí v graficky oddělené skupině na webu.",
        }
      - { label: "Soubor", name: "url", widget: "file" }
      - { label: "Štítky", name: "tags", widget: "hidden", default: ["zapis"] }
